* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff8f8e1;
}

a{
  text-decoration: none;
  padding: 0 15px
}

ul{
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

#arrow-img{
  width: 25px;
  height: 20px;
}

body{
  background: linear-gradient(12deg, rgba(148,187,233,1) 4%, rgba(67,141,235,1) 38%, rgba(81,60,243,1) 66%, rgba(179,0,255,1) 91%) no-repeat;
  background-size: auto 100vh;
}
header{
  margin: 0 auto;
}

main{
  text-align: center;
}